﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="Stylesheet" />
    <style type="text/css">
    body
    {
        height: 100%;
        background-color: #f5f5f5;
    }
    #links, #render
    {
        padding: 20px;
    }
    .container
    {
        background-color: #FFF;
    }
    </style>
</head>
<body>
<div class="container">
    <div id="content" class="row-fluid">
        <div class="span3" id="links">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/Stud">Главная</a></li>
                <li><a href="/Stud/NewLab">Загрузить лабу</a></li>
                <li><a href="/Stud/LogOut">Выйти</a></li>
            </ul>
        </div>
        <div class="span9" id="render">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>
