﻿@model System.Collections.Generic.List<string>
@{
    Layout = "~/Views/Stud/_Layout.cshtml";
}

<p>
    @using (
        Html.BeginForm(
            "NewLab", "Stud", FormMethod.Post, 
            new {enctype="multipart/form-data"}
        )
    )  
    {
        <select name = "varSelect" size = "1">
            @for (int i = 0; i < Model.Count; i++ )
            {
                <option value = "@(i+1)"> @Model.ElementAt(i) </option>
            }
        </select>
        <br />
        <span>На языке: </span>
        <select name = "langSelect" size = "1">
            <option value = "cpp">C++&nbsp&nbsp</option>
            <option value = "csharp">C#</option>
            <option value = "java">Java</option>
        </select>
        <br />
        <input type="file" name="fileUpload" />
        <br />      
        <input type="submit" value="Upload" />
    }
</p>
