﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main Page</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="Stylesheet" />
    <style type="text/css">
        body 
        {
            padding: 40px;
            background-color: #f5f5f5;
        }
        .authForm
        {
            max-width: 250px;
            margin: 0 auto 20px;
            padding: 10px 30px 30px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
    </style>
</head>
<body>
<div id="container">
    <form action="/" method="post" class="authForm">
        <h2>Авторизуйтесь:</h2><br />
        <input id="authID" name="authID" type="text" value="" class="input-large" placeholder="Ваш ID" /> <br />
        <input id="authPass" name="authPass" type="password" class="input-large" placeholder="Пароль" /> <br />
        <label class="checkbox">
            <input id="isTeacher" name="isTeacher" type="checkbox" value="true" /><input name="isTeacher" type="hidden" value="false" /> Преподаватель?
        </label>
        <button class="btn btn-large btn-primary" type="submit">Добро пожаловать</button> <br />
    </form>
</div>
</body>
</html>
