﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="Stylesheet" />
    <style type="text/css">
    body
    {
        height: 100%;
        background-color: #f5f5f5;
    }
    #links, #render
    {
        padding: 20px;
    }
    .container
    {
        background-color: #FFF;
        width: 1200px;
    }
    </style>
</head>
<body>
<div class="container">
    <div id="content" class="row-fluid">
        <div class="span3" id="links">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="/Teach">Главная</a></li>
                <li><a href="/Teach/CheckLabs">Сданные лабы</a></li>
                <li><a href="/Teach/LastCheck">Результаты проверок</a></li>
                <li><a href="/Teach/LogOut">Выйти</a></li>
            </ul>
        </div>
        <div class="span9" id="render">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>
