﻿@model System.Collections.Generic.List<string[]>
@{
    Layout = "~/Views/Teach/_Layout.cshtml";
}
<table class="table table-hover">
<thead>
    <tr>
        <th>Студент</th>
        <th>Вариант</th>
        <th>Язык</th>
    </tr>
</thead>
<tbody>
    @foreach (var laba in @Model)
    {
        <tr>
            <td>@laba[0]</td>
            <td>@laba[1]</td>
            <td>@laba[2]</td>
        </tr>
    }
</tbody>
</table>
<br />
<form action="/Teach/CheckLabs" method="post">
    <input name="check" value="check" hidden="hidden" />
    <input class="btn btn-success" type="submit" value="Проверить лабы" />
</form>