﻿@model System.Collections.Generic.List<string[]>
@{
    Layout = "~/Views/Teach/_Layout.cshtml";
}

<table class="table table-hover">
<thead>
    <tr>
        <th>Студент</th>
        <th>Вариант</th>
        <th>Пройдена ли проверка</th>
        <th>Процент схожести</th>
        <th>У кого украдено</th>
    </tr>
</thead>
<tbody>
    @foreach (var entry in @Model)
    {
        <tr>
            <td>@entry[0]</td>
            <td>@entry[1]</td>
            <td>@entry[2]</td>
            <td>@entry[3]</td>
            <td>@entry[4]</td>
        </tr>
    }
</tbody>
</table>